body {
    margin-top: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="button"] {
    cursor: pointer;
    margin: 10px;
    max-width: 200px;
    font-family: 'Trebuchet MS';
    font-size: 13px;
    font-weight: 700;
}

.button-section {
    background-color: bisque;
    width: 220px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.primary-zoom-in-out {
    height: 50px;
    background-color: cornflowerblue;
    color: aliceblue;
    border: 2px solid;
    border-radius: 7px;
}

.primary-zoom-in-out:hover, .secondary-zoom-in-out:hover {
    font-size: 14px;
    box-shadow: 0 2px 4px 0 rgba(109, 108, 108, 0.8), 0 4px 3px 0 rgba(228, 228, 228, 0.4);
    transition-duration: 0.4s;
}

.primary-zoom-in-out:active, .secondary-zoom-in-out:active {
    box-shadow: none;
    transition-duration: 0.2s;
    font-size: 13px;
}

.secondary-zoom-in-out {
    height: 50px;
    background-color: rgb(247, 251, 255);
    color: cornflowerblue;
    border: 2px solid;
    border-radius: 7px;
}


.card-container {
    margin: 15px;
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
}

.card-container:hover {
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(109, 108, 108, 0.8), 0 4px 3px 0 rgba(228, 228, 228, 0.4);
    transition-duration: 0.4s;
    transform: scaleY(1.04) scaleX(1.02);
}

.bg-container {
    background-color: rgb(200, 161, 113);
    height: 350px;
}

.info-container {
    background-color: aliceblue;
    width: 100%;
    height: 100px;
}
