html {
    scroll-behavior: smooth;
}

body {
    margin-top: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="button"] {
    cursor: pointer;
    margin: 10px;
    max-width: 200px;
    font-family: 'Trebuchet MS';
    font-size: 13px;
    font-weight: 700;
}

.button-section {
    background-color: bisque;
    width: 220px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.primary-zoom-in-out {
    height: 50px;
    background-color: cornflowerblue;
    color: aliceblue;
    border: 2px solid;
    border-radius: 7px;
}

.primary-zoom-in-out:hover, .secondary-zoom-in-out:hover {
    font-size: 14px;
    box-shadow: 0 2px 4px 0 rgba(109, 108, 108, 0.8), 0 4px 3px 0 rgba(228, 228, 228, 0.4);
    transition-duration: 0.4s;
}

.primary-zoom-in-out:active, .secondary-zoom-in-out:active {
    box-shadow: none;
    transition-duration: 0.2s;
    font-size: 13px;
}

.secondary-zoom-in-out {
    height: 50px;
    background-color: rgb(247, 251, 255);
    color: cornflowerblue;
    border: 2px solid;
    border-radius: 7px;
}


.card-container {
    margin: 15px;
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
}

.card-container:hover {
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(109, 108, 108, 0.8), 0 5px 3px 0 rgba(228, 228, 228, 0.4);
    transition-duration: 0.4s;
    transform: scaleY(1.05) scaleX(1.03);
}

.card-container:not(:hover) {
    transition-duration: 0.6s;
    transform: scaleY(1) scaleX(1);
}

.bg-container {
    background-color: rgb(200, 161, 113);
    height: 350px;
}

.info-container {
    background-color: aliceblue;
    padding-left: 10px;
    height: 100px;
    width: 240px;
}

.hidden-statement {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.1s ease-in-out;
}

.hidden-statement.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.4s ease-in-out;
    transition-delay: 0.175s;
}

.custom-select {
    background-color: bisque;
    width: 300px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 0px;
}

.selected {
    height: 35px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 5px;
}

.options {
    display: none;
    flex-direction: column;
    list-style: none;
    padding-left: 5px;
}

.options li {
  background-color: bisque;
  height: 40px;
  color: black;
  cursor: pointer;
  border-bottom: 1px solid blueviolet;
}

.options li:hover {
    background-color: rgb(141, 141, 141);
}